

.preguntas {
  padding: 160px 40px 80px 40px;



  &__titulo {
      color: $color-primario;
  }

&__subtitulo {
  font-weight: lighter;
}
}

.accordion {

    --bs-accordion-active-color: black;  
    --bs-accordion-btn-focus-border-color: #e1a3b660;
    --bs-accordion-btn-focus-box-shadow:  0 0 0 0.05rem #E1A3B7;
    --bs-accordion-active-bg:#e1a3b61e;
    --bs-accordion-btn-bg: #e1a3b536; 
    --bs-border-color: #E1A3B7 ;
}




@media screen and (max-width:600px) {
  .preguntas {
    padding: 100px 40px 140px 40px;

}
}