.contacto {
    padding: 160px 40px 80px 40px;

 justify-content: center;
 align-items: center;


 

    &__titulo {
        color: $color-primario;
    }

&__subtitulo {
    font-weight: lighter;
}
}

.btn-primary {
color: #fff;
background-color: $color-primario;
}



@media screen and (max-width:600px) {
    .contacto {
        padding: 120px 40px 120px 40px;
    
}
}