
  /* hero */
  
  .portada {
    height: 100vh;
  
  background-color: #E1A3B7;
  background-image: url(../img/woman-washing-head.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   
  
  
&__titulo {
  font-size: 2rem;
    }
  
&__parrafo {
      font-size: 1.3rem;  
    }
  
&__boton {
  padding: 8px 28px;
background-color: #fff;
border: 2px solid #fff;
border-radius: 50px;
  margin-top: 30px;
    }

}


/* servicios */

.servicios .row div{
  height:250px; 
  background-color: #fff;
  border: 3px;
}
.servicios {
  padding: 40px 40px 60px 40px;



&__columna {
    padding: 20px;
    border: 2px solid#E1A3B7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    }
  

&__titulo {
  color: black;
  font-size: 25px;
  font-weight: bold !important;
  margin: 10px 0px;
}

&__badges {
font-size: 15px;
margin: 10px 0;
}

}
 

/* testimonios */

.testimonios {
  padding: 40px 40px 80px 40px;
}

.testimonios .carousel {
  max-width: 800px;
}

.carousel-item {
height: 500px;
}


/* footer */

.footer {
  padding: 40px 40px 80px 40px;
  background-color: black;
  align-items: center;

&__texto {
  color: #fff;
}
}