
  .portada {
    height: 100vh;
  
  background-color: rgb(255, 206, 246);
  background-image: url(../img/woman-washing-head.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   
  
  
&__titulo {
  font-size: 2rem;
    }
  
&__parrafo {
      font-size: 1.3rem;  
    }
  
&__boton {
  padding: 8px 28px;
background-color: #fff;
border: 2px solid #fff;
border-radius: 50px;
  margin-top: 30px;
    }

}