img {

    border-radius: 20px 20px 0 0;
 
  }
  


  .contenedor-servicios {
    padding: 160px 40px 80px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  
    .card {
  
      &:hover {
        box-shadow: 0 5px 10px $color-primario;
        transition: 0.3s;
      }
  
      .card-title {
        font-weight: 600;
        font-size: 16px;
        color: #000000;
        padding: 10px 0px 6px 0px;
        margin: 0;
      }
  
  
     
    }
  }