footer {
    background-color: black;
padding-top: 1rem;

    color:#fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    
}

.footer-content {


    text-align: center;
    color: #fff;

    &__copyright {
        font-size: 1rem;
    }

    &__contact {
        font-size: 1rem;
    }

    &__social-icons {


        i {
            font-size: 2rem;
            padding: 2rem 0.7rem 2rem;
            transition: all 0.3s;

            &:hover {
                color: $color-primario;
                transform: scale(1.05);
            }
        }
    }
}

.social-button {
    color: #fff;
}

.footer-bottom {
    text-align: center;
    background-color: black;
    font-size: 1rem;
    padding: 1rem 0;

    a {
        color: $color-primario;
    }
}
