
header {
    width: 100%;
    background-color:#E1A3B7;
    position: fixed;
    z-index: 2;   
    top: 0;
  }


.navbar{
  padding: 1rem;
  text-align: center;
} 
.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

.nav-item {
font-size: 1.2rem;
  display: inline-block;
  margin-right: 14px;
  color: #fff;
  padding: 8px 13px;
}

