
header {
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
  }


.navbar{
  padding: 2rem;
  text-align: center;
  background: color #f5f6f7;
} 
.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

.nav-item {
  display: inline-block;
  margin-right: 14px;
  color: #1d2226;
  padding: 8px 13px;
}

